
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_SideNavPanel.cshtml";
}

<div class="container">
    <div class="card shadow-lg o-hidden border-0 my-5">
        <div class="card-body p-0"></div>
        <section class="features-boxed">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">About Us</h2>
                </div>
                <div class="Intro-info">
                    <p class="text-center" style="font-size: 20px;color: rgb(0,0,0);"><br>Our team possesses the capability to design and develop technology products that can streamline business processes and grow revenue.&nbsp;We understand that every business is different and therefore, we build custom software applications that are tailored to meet your specific use case, budget and timeline.<br><br></p>
                </div>
                <div class="row justify-content-center features">
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box">
                            <img style="margin: 20px 0px 35px;height: 150px;border-radius: 400px;" src="~/assets/img/avatars/moiz.jpg">
                            <h3 class="name">Abdul Moiz</h3>
                            <p class="description">Level Two Seller At Fiverr<br><br></p><a class="learn-more" href="https://www.linkedin.com/in/abdulmoiz99/">Learn more »</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box">
                            <img style="margin: 20px 0px 35px;height: 150px;border-radius: 400px;" src="~/assets/img/avatars/shaarif.jpg">
                            <h3 class="name">Muhammad Shaarif Shahid</h3>
                            <p class="description">Front End Web-Developer (React.js) | Amazon Virtual Assistant<br></p><a class="learn-more" href="https://www.linkedin.com/in/muhammad-shaarif-shahid-4991b7192/">Learn more »</a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-5 col-lg-4 item">
                        <div class="box">
                            <img style="margin: 20px 0px 35px;height: 150px;border-radius: 400px;" src="~/assets/img/avatars/naqqash.jpg">
                            <h3 class="name">Naqqash Khan</h3>
                            <p class="description">.NET Developer | Freelancer<br><br></p><a class="learn-more" href="https://www.linkedin.com/in/naqqash-khan-063a51191/">Learn more »</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

