
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="bg-gradient-primary" style="background: linear-gradient(rgb(78,115,223) 0%, rgba(169,187,239,0.37) 83%, rgba(255,255,255,0.18) 100%), url(&quot;~/assets/img/dogs/pexels-rodnae-productions-7092339.jpg&quot;) center / cover;">

    <h1 style="color: rgb(255,255,255);font-size: 100px;text-align: center;margin-top: 80px;">Quizdom</h1>
    <div class="container">
        <div class="Intro-info">
            <p class="text-center" style="font-size: 25px;color: rgb(255,255,255);text-shadow: 0px 1px 4px rgb(92,92,92);"><br>An awesome web application to create &amp; manage online quizzes, tests &amp; exams on your website or server.&nbsp;The free quiz maker for testing students and staff.&nbsp;<br><br></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center;"><a class="btn btn-light action-button" role="button" href="@Url.Action("Login", "Users")" style="background: rgb(78,115,223);width: 340px;border-radius: 200px;border-color: rgb(78,115,223);color: rgb(255,255,255);height: 64px;font-size: 25px;padding-top: 13px;">Get Started!</a></div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/chart.min.js"></script>
    <script src="~/assets/js/bs-init.js"></script>
    <script src="~/assets/js/theme.js"></script>
</body>